body		{
    	background-color: burlywood;
	color: darkred;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 100%;
}

p 		{
	width: 300px;
	border: 10px solid darkred;
	padding: 25px;
	margin-left: 100px;
	margin-right: 150px;
}



a:link		{
	color: black;
	font-weight: bold;
}
