body		{
    	background-color: burlywood;
	color: darkred;
	font-family: "Courier New", "Times New Roman", Times, serif;
	font-size: 100%;
}

p, ul		{
	width: 300px;
	border: 10px solid darkred;
	padding: 25px;
	margin: 25px;
}


a		{
	color: white;
}
